/*Selectores*/
/*Selector*/
body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding: 20px;
}

/*Selector*/
h1 {
  font-size: 40px;
  margin: 0px;
  margin-bottom: 15px;
}

/*Selector*/
h2 {
  font-size: 30px;
  text-transform: uppercase;
}

/*Clases*/
.cursiva {
  font-style: italic;
}

/*Selectores*/
h1,
h2,
p {
  text-align: center;
}

/*Clases*/
.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

/*Imagen*/
img {
  display: block;
  /*Elemento en Bloque*/
  margin-top: -25px;
  margin-left: auto;
  margin-right: auto;
}

/*Clases*/
hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
  border-width: brown;
}

/*Clases*/
.bottom-line {
  margin-top: 25px;
}

/*Selectores*/
h1,
h2 {
  font-family: Impact, serif;
}

/*Clases con descendencia*/
.item p {
  display: inline-block;
  margin-top: 22px;
  margin-bottom: 10px;
  font-size: 18px;
}

/*Muchas-Clases*/
.sabor,
.porcion_torta {
  text-align: left;
  width: 75%;
}

/*Clases*/
.precio {
  text-align: right;
}


/*FOOTER*/
/*Selector*/
footer {
  font-size: 14px;
}


.address {
  margin-bottom: 5px;
}

/*Selector*/
a {
  color: black;
}

/*Pseudo-Selector*/
a:visited {
  color: black;
}

/*Pseudo-Selector*/
a:hover {
  color: brown;
}

/*Pseudo-Selector*/
a:active {
  color: brown;
}